html {
    font-family: 'Lucida Sans Regular'
}


h1 {
    text-align: center;
}

form {
    background: #14D2F1;
    margin: 0px auto;
    padding: 20px;
    margin: 0px auto;
    border: 5px solid navy;
    width: 30%;
    border-radius: 30px;

}

.btn {
    padding: 10px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    display: inline;
}


.btn:hover {
    background-color: lightgrey;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    align-content: left;
    margin: 3px;
}

.input-group input {
    height: 25px;
    width: 95%;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 16px;
}

textarea {
    height: 90px;
    width: 95%;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 16px;
}

.formBodyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.fleft {
    grid-column: 1 / span 1;
}


#sub {
    text-align: center;
}

<<<<<<< HEAD
.error {
    color: #FF0000;
}
=======
#sign-up {
    text-align: center;
}

#log-in {
    text-align: center;
}
>>>>>>> 73c1e20ff92fa685c30009740e181040ec3b41ed
